.countdownCubeContainer * {
  box-sizing: content-box;
}

.countdownCubeContainer {
  display: inline-block;
  position: relative;
  margin: 1px 1px 1px 1px;
}

.countdownCubeCube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.2s;
     -moz-transition: -moz-transform 0.2s;
       -o-transition: -o-transform 0.2s;
          transition: transform 0.2s;
}

.countdownCubeCube figure {
  margin: 0;
  display: block;
  position: absolute;
  border: 2px solid black;
  font-weight: bold;
  color: white;
  text-align: center;
}

.countdownCubeCube.panels-backface-invisible figure, .countdownCubeCube figure {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}
